<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Parallel Testing Suite" parallel="methods" thread-count="4">
      <test name = "Parallel Tests"  thread-count="4">
        <classes>
            <class name = "tests.searchTests1" />
            <class name = "tests.searchTests2" />
        </classes>
    </test>
</suite>